# dependencies
node_modules/

# build output
dist/
build/

# environment variables
.env
.env.*

# logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# test coverage
coverage/
venv